* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title-container h1 {
  color: #dc56c5;
  text-align: center;
  font-family: Montserrat, serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.94px;
}

body {
  background-color: #0e0e0e;
  font-family: Montserrat, serif;
}

header {
  background: url("pic-mobile.548db800.png") center / cover no-repeat;
  width: 100%;
  height: 600px;
}

.header-container {
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

.header-content {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.logo-container {
  backdrop-filter: blur(5px);
  background: #363636cc;
  border-radius: 0% 100% 100% 0% / 0% 0% 100% 100%;
  width: 106px;
  height: 92px;
  transition: transform .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out;
  transform: scale(1);
}

.logo {
  background-image: url("logo.e285f770.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  margin-top: 16px;
  margin-left: 8px;
  transition: transform .5s ease-in-out, margin .5s ease-in-out;
}

.title-container {
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 18px;
  display: flex;
}

.header-form {
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 109px;
  display: flex;
}

.header-form input {
  backdrop-filter: blur(5px);
  background: #fff3;
  border: none;
  border-radius: 20px;
  width: 280px;
  height: 40px;
}

input[type="text"], input::placeholder {
  color: #ccc;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.5px;
}

.search-icon {
  background-image: url("search.b5df67a9.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 21px;
  position: absolute;
  top: 13px;
  right: 13px;
}

.input-container {
  position: relative;
}

#loader {
  z-index: 6;
  background: linear-gradient(#0000 -1%, #413c3c 3%);
  width: 100%;
  height: 100%;
  position: fixed;
}

#content {
  background-color: #0000;
  border: 8px solid #f3f3f3;
  border-top-color: #dc56c5;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: 1s linear infinite spin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%)rotate(0);
  }

  100% {
    transform: translate(-50%, -50%)rotate(360deg);
  }
}

.choices {
  z-index: 5;
  background-color: #fff3;
  border: none;
  border-radius: 20px;
  width: 280px;
  height: 40px;
  font-family: Montserrat, serif;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #11010133;
}

.choices__inner {
  color: #ccc;
  backdrop-filter: blur(5px);
  border: none;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.5px;
}

.choices[data-type*="select-one"] .choices__input {
  color: #ccc;
  background-color: #11010133;
  border-radius: 0%;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  color: #ccc;
  backdrop-filter: blur(5px);
  background-color: #11010133;
  border: none;
  font-weight: 700;
}

.choices__list--dropdown:hover {
  background-color: #11010133;
}

.choices__inner, .choices__list--dropdown, .is-active, .is-focused {
  background-color: #11010133;
  border: none;
  box-shadow: 0 0 8px #dc56c5b3;
}

.is-active, .choices__list {
  background: none;
}

.main-container {
  width: 100%;
}

.main-content {
  backdrop-filter: blur(5px);
  color: #fff;
  background: linear-gradient(#0000 -1%, #0e0e0e 3%);
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: -52px;
  padding: 20px;
  display: flex;
}

.event-container {
  box-sizing: border-box;
  text-align: center;
  background-color: #0000;
  border-radius: 10px;
  flex: 1 0 calc(21% - 13px);
  max-width: calc(60% - 30px);
  transition: transform .3s;
  position: relative;
  top: -94px;
}

.newContainer {
  color: #fff;
}

.event-container:hover {
  transform: translateY(-5px);
}

.image-wrapper {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.rectangle-icon {
  background-image: url("rectangle-mobile.a05cb0e7.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 102px;
  height: 95px;
  position: absolute;
  top: -7px;
  left: 27px;
}

.img-event {
  width: 120px;
  height: 120px;
  position: inherit;
  object-fit: cover;
  z-index: 2;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: block;
}

.info-container {
  text-align: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.event-title {
  color: #dc56c5;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
}

.event-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
}

.event-location {
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
}

.location-icon {
  background-color: #0000;
  background-image: url("location.29c138c9.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#pagination-container {
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  display: flex;
}

#pagination-container #prev-btn, #next-btn {
  color: #fff;
  cursor: pointer;
  background-color: #0000;
  border: 1px solid #dc56c5;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  transition: transform .2s ease-in-out, border .2s ease-in-out;
}

#prev-btn:hover, #next-btn:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 5px #dc56c5;
}

#pagination-container #prev-btn:disabled, #next-btn:disabled {
  cursor: not-allowed;
  box-shadow: none;
  border: 1px solid #e7dee6;
  transform: none;
}

.num-pagination {
  cursor: pointer;
  color: #fff;
  background-color: #0000;
  border: none;
  padding: 10px;
  transition: transform .3s;
}

.num-pagination:hover {
  color: #dc56c5;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateY(-2px);
}

.footer-container {
  background-color: #0e0e0e;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.copyright-container {
  color: #939393;
  text-align: center;
  width: 85%;
  font-size: 14px;
}

.modal {
  z-index: 5;
  backdrop-filter: blur(5px);
  background: #363636cc;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  background-color: #fff;
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
  max-width: 600px;
  height: 90vh;
  max-height: 909px;
  margin: 65px auto 0;
  display: flex;
  position: relative;
}

.img-modal {
  border-radius: 50px;
  width: 82px;
  height: 82px;
}

.modal-headings {
  color: #dc56c5;
  padding: 10px;
  font-family: Montserrat, serif;
  font-size: 20px;
  font-weight: 600;
}

.modal-wrapper {
  flex-direction: column;
  align-items: center;
  padding: 20px;
  display: flex;
}

.event-info {
  text-align: center;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}

.price {
  width: 105px;
}

.barcode-icon {
  background-image: url("barcode.74195ec2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 14px;
  height: 14px;
}

.price-wrapper {
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  display: flex;
}

.buy-tickets-btn {
  color: #fff;
  background-color: #4c00fe;
  border: none;
  border-radius: 5px;
  width: 145px;
  height: 40px;
  margin-top: 10px;
}

.more-btn {
  color: #4c00fe;
  background-color: #fff;
  border-color: #4c00fe;
  border-radius: 5px;
  width: 224px;
  height: 40px;
  margin-top: 10px;
}

.close-modal {
  cursor: pointer;
  background-image: url("close.571f1492.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 14px;
  right: 14px;
}

.price-details {
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media screen and (width >= 468px) {
  .event-container {
    max-width: calc(30% - 30px);
  }
}

@media screen and (width >= 768px) {
  .title-container h1 {
    margin-top: -118px;
    font-size: 30px;
    line-height: 36.57px;
  }

  .header-form {
    flex-direction: row;
  }

  input[type="text"] {
    font-size: 16px;
  }

  .event-container {
    box-sizing: border-box;
    flex: 0 calc(29% - 10px);
    padding: 20px;
  }

  .event-title, .event-date {
    font-size: 16px;
    line-height: 19.5px;
  }

  .event-location {
    font-size: 14px;
    line-height: 17.07px;
  }

  .location-icon {
    top: 238px;
    left: 11px;
  }

  .img-event {
    width: 140px;
    height: 120px;
  }

  .rectangle-icon {
    top: -9px;
    left: 52px;
  }

  .modal-content {
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    width: 604px;
    height: 550px;
  }

  .copyright-container {
    font-size: 16px;
    line-height: 19.5px;
  }
}

@media screen and (width >= 1280px) {
  .title-container h1 {
    width: 77%;
    font-size: 50px;
    line-height: 60.95px;
  }

  .logo-container {
    width: 136px;
    height: 138px;
    transform: scale(1.1);
  }

  .logo {
    width: 100px;
    margin-top: 35px;
    margin-left: 10px;
  }

  .event-container {
    flex: 0 0 calc(23% - 8px);
    max-width: calc(26% - 44px);
  }

  .location-icon {
    top: 238px;
    left: 11px;
  }

  .img-event {
    width: 267px;
    height: 220px;
  }

  .rectangle-icon {
    display: none;
  }

  .desktop {
    background-image: url("rectangle-desktop.90949f4b.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 227px;
    height: 220px;
    display: block;
    top: -10px;
    left: 55px;
  }

  .event-date, .event-title, .event-location {
    font-size: 18px;
  }
}
/*# sourceMappingURL=index.4d663569.css.map */
